.detail-crypto-stats-list-container {
  margin-top: 20px;
  margin-bottom: 76px;
}

.detail-crypto-stats-item {
  height: 38px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-crypto-stats-item:nth-child(even) {
  background-color: var(--theme-color-stats);
}

.detail-crypto-stats-name,
.detail-crypto-stats-value {
  font-size: 12px;
  font-weight: normal; 
  line-height: 14px;
}

.detail-crypto-stats-name {
  color: var(--text-secondary);
  text-transform: uppercase;
}

.detail-crypto-stats-value {
  color: var(--text-primary);
  text-transform: capitalize;
}